.fondoEmpresas {
    background-image: url(../images/empresas.jpg);
    background-size: cover;
    text-align: center;
    background-position: center;
}

.descEmpresas {
    font-size: 12px;
}

#empresas {
    background-color: $colorBlanco;
}