/*------------ Footer ------------*/

footer {
    background-color: $colorNegro;
    color: $colorBlanco;
    text-decoration: none;
    text-align: center;
    li {
        display: inline-block;
        margin: 10px;
        cursor: pointer;
        .facebook:hover {
            color: map-get($redes, colorFacebook);
        }
        .twitter:hover {
            color: map-get($redes, colorTwitter);
        }
        .instagram:hover {
            color: map-get($redes, colorInstagram);
        }

        
    }
}

.copy {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.border {
    border: .4vw solid rgb(147, 11, 11);
    margin: 15px;
}
