/*------------ Header ------------*/

header {
    background-color: $colorNegro;
    color: $colorBlanco;
    .logoHeader {
        width: 40vw;
    }

    .lamboHeader {
        width: 45vw;
    }

    #slogan {
        font-size: 3vw;
        margin: 2vw;
    }
}